<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ACPI</key>
		<dict>
			<key>SortedOrder-Comment</key>
			<string>This is the original order supported by Clover prior to build v3062. You can trim it as necessary.</string>
			<key>SortedOrder</key>
			<array>
				<string>SSDT.aml</string>
				<string>SSDT-0.aml</string>
				<string>SSDT-1.aml</string>
				<string>SSDT-2.aml</string>
				<string>SSDT-3.aml</string>
				<string>SSDT-4.aml</string>
				<string>SSDT-5.aml</string>
				<string>SSDT-6.aml</string>
				<string>SSDT-7.aml</string>
				<string>SSDT-8.aml</string>
				<string>SSDT-9.aml</string>
				<string>SSDT-10.aml</string>
				<string>SSDT-11.aml</string>
				<string>SSDT-12.aml</string>
				<string>SSDT-13.aml</string>
				<string>SSDT-14.aml</string>
				<string>SSDT-15.aml</string>
				<string>SSDT-16.aml</string>
				<string>SSDT-17.aml</string>
				<string>SSDT-18.aml</string>
				<string>SSDT-19.aml</string>
				<string>SSDT-XOSI.aml</string>
				<string>SSDT-LPC.aml</string>
			</array>
			<key>DSDT</key>
			<dict>
				<key>Fixes</key>
				<dict>
					<key>FixRegions_10000000</key>
					<false/>
					<key>FixUSB_1000</key>
					<true/>
					<key>NewWay_80000000</key>
					<true/>
				</dict>
				<key>Patches</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>change _OSI to XOSI</string>
						<key>Disabled</key>
						<true/>
						<key>Find</key>
						<data>X09TSQ==</data>
						<key>Replace</key>
						<data>WE9TSQ==</data>
					</dict>
					<dict>
						<key>Comment</key>
						<string>change EHC1 to EH01</string>
						<key>Find</key>
						<data>RUhDMQ==</data>
						<key>Replace</key>
						<data>RUgwMQ==</data>
					</dict>
					<dict>
						<key>Comment</key>
						<string>change EHC2 to EH02</string>
						<key>Find</key>
						<data>RUhDMg==</data>
						<key>Replace</key>
						<data>RUgwMg==</data>
					</dict>
					<dict>
						<key>Comment</key>
						<string>change HDAS to HDEF</string>
						<key>Find</key>
						<data>SERBUw==</data>
						<key>Replace</key>
						<data>SERFRg==</data>
					</dict>
					<dict>
						<key>Comment</key>
						<string>change HECI to IMEI</string>
						<key>Find</key>
						<data>SEVDSQ==</data>
						<key>Replace</key>
						<data>SU1FSQ==</data>
					</dict>
					<dict>
						<key>Comment</key>
						<string>change MEI to IMEI</string>
						<key>Find</key>
						<data>TUVJXw==</data>
						<key>Replace</key>
						<data>SU1FSQ==</data>
					</dict>
					<dict>
						<key>Comment</key>
						<string>change GFX0 to IGPU</string>
						<key>Disabled</key>
						<false/>
						<key>Find</key>
						<data>
R0ZYMA==
</data>
						<key>Replace</key>
						<data>
SUdQVQ==
</data>
					</dict>
				</array>
			</dict>
			<key>DropTables</key>
			<array>
				<dict>
					<key>Signature</key>
					<string>#MCFG</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>DMAR</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>xh_rvp10</string>
				</dict>
			</array>
			<key>#DropTables</key>
			<array>
				<dict>
					<key>Signature</key>
					<string>MCFG</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>DMAR</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>xh_rvp10</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>CpuPm</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>Cpu0Cst</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>Cpu0Ist</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>ApCst</string>
				</dict>
				<dict>
					<key>Signature</key>
					<string>SSDT</string>
					<key>TableId</key>
					<string>ApIst</string>
				</dict>
			</array>
			<key>SSDT</key>
			<dict>
				<key>DropOem</key>
				<false/>
				<key>Generate</key>
				<dict>
					<key>CStates</key>
					<false/>
					<key>PStates</key>
					<false/>
				</dict>
				<key>PluginType</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>Boot</key>
		<dict>
			<key>Arguments</key>
			<string>USBBusFix=Yes Kext-Dev-Mode=1 rootless=0 -v -f</string>
			<key>#Arguments</key>
			<string>arch=x86_64 darkwake=0 npci=0x2000 nv_disable=1</string>
			<key>Legacy</key>
			<string>LegacyBiosDefault</string>
			<key>Log</key>
			<false/>
			<key>NeverHibernate</key>
			<true/>
			<key>Secure</key>
			<false/>
			<key>Timeout</key>
			<integer>5</integer>
			<key>XMPDetection</key>
			<string>Yes</string>
		</dict>
		<key>CPU</key>
		<dict>
			<key>UseARTFrequency</key>
			<false/>
		</dict>
		<key>Devices</key>
		<dict>
			<key>AddProperties</key>
			<array>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>AAPL,Gfx324</string>
					<key>Value</key>
					<data>
AQAAAA==
</data>
				</dict>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>AAPL,GfxYTile</string>
					<key>Value</key>
					<data>
AQAAAA==
</data>
				</dict>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>AAPL00,PanelCycleDelay</string>
					<key>Value</key>
					<data>
+gAAAA==
</data>
				</dict>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>AAPL00,PanelPowerDown</string>
					<key>Value</key>
					<data>
PAAAAA==
</data>
				</dict>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>AAPL00,PanelPowerOff</string>
					<key>Value</key>
					<data>
EQAAAA==
</data>
				</dict>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>AAPL00,PanelPowerOn</string>
					<key>Value</key>
					<data>
GQEAAA==
</data>
				</dict>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>AAPL00,PanelPowerUp</string>
					<key>Value</key>
					<data>
MAAAAA==
</data>
				</dict>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>graphic-options</string>
					<key>Value</key>
					<data>
DAAAAA==
</data>
				</dict>
				<dict>
					<key>Device</key>
					<string>IntelGFX</string>
					<key>Key</key>
					<string>hda-gfx</string>
					<key>Value</key>
					<string>onboard-1</string>
				</dict>
			</array>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>FullTitle</key>
					<string>UEFI internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Bluemac</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>ig-platform-id</key>
		<string>0x191d0000</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>InjectEDID</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AsusAICPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.11.4 ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<true/>
				<key>MatchOS</key>
				<string>10.11.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Find</key>
				<data>QTnEdio=</data>
				<key>Replace</key>
				<data>QTnE6yo=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.12.0 ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<true/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Find</key>
				<data>iUXIOcZ2UQ==</data>
				<key>Replace</key>
				<data>iUXIOcbrUQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>eDP, port 0000, 0x191e0000, 0x19160000, 0x19260000, 0x19270000, 0x191b0000, 0x19160002, 0x19260002, 0x191e0003, 0x19260004, 0x19270004, 0x193b0005 credit syscl</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AAAIAAIAAACYAAAAAQUJAAAEAAA=</data>
				<key>Replace</key>
				<data>AAAIAAAEAACYAAAAAQUJAAAEAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable lid wake for 0x19260002 credit syscl/lighting/Yating Zhou</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Find</key>
				<data>ChMDAAAABgAAAAAAAAAAAA==</data>
				<key>Replace</key>
				<data>DxMDAAAABgAAAAAAAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable lid wake for 0x19260004 credit syscl/lighting/Yating Zhou</string>
				<key>Disabled</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Find</key>
				<data>CgsDAAAHBgADAAAABAAAAA==</data>
				<key>Replace</key>
				<data>DwsDAAAHBgADAAAABAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Skylake APIC fix, discovered by Pike R. Alpha</string>
				<key>Find</key>
				<data>
wegQD7bw
</data>
				<key>Name</key>
				<string>AppleAPIC</string>
				<key>Replace</key>
				<data>
vhcAAACQ
</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11-SKL530-Port_0-DP2HDMI</string>
				<key>Find</key>
				<data>
/wAAAAEAAABAAAAA
</data>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
AAAIAAAIAACCAAAA
</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 30 in AppleUSBXHCIPCI</string>
				<key>Find</key>
				<data>
 g72M/v//EA==
</data>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>
g72M/v//Hw==
</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/22/2015</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM171.88Z.0105.B00.1509221819</string>
		<key>Board-ID</key>
		<string>Mac-65CE76090165799A</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>iMac17,1</string>
		<key>ChassisAssetTag</key>
		<string></string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>13</string>
		<key>Family</key>
		<string>iMac</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>iMac17,1</string>
		<key>SerialNumber</key>
		<string>C02Q0000GG7L</string>
		<key>Trust</key>
		<false/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>#BacklightLevel</key>
		<string>0x0501</string>
		<key>#CustomUUID</key>
		<string>511CE201-1000-4000-9999-010203040506</string>
		<key>InjectSystemID</key>
		<true/>
		<key>#NvidiaWeb</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
		<key>UIScale</key>
		<integer>1</integer>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
	</dict>
</plist>